*.log
log.txt
app/cache
app/log
app/searchIndex
app/release
app/media
app/config/*.ini
app/public/soap-interface.php
app/public/js/app/
!app/public/js/app/src/model/wcmf/RoleClass.js
!app/public/js/app/src/model/wcmf/UserClass.js
app/public/js/config/types.js
app/src/controller
!app/src/controller/RootController.php
app/src/model
!app/src/model/EntityBase.php
!app/src/model/wcmf/Translation.php
app/src/views
!app/src/views/cms.tpl
!app/src/views/failure.tpl
install/*.sql
dist
vendor/*
app/public/vendor/*
!app/public/vendor/ckeditor-plugins
!app/public/vendor/simmerdesign
composer.lock
/build/build-report.txt
/test/test-db.sq3
/test/log/testdox.txt
