<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-dojo-attach-point="menuBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" data-dojo-attach-point="collapseToggleBtn">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">${title}</a>
        </div>

        <div class="navbar-collapse collapse" data-dojo-attach-point="menuCollapse">
            <ul class="nav navbar-nav">
                <li class="main-menu push" id="navHome" data-wcmf-route="home">
                    <a href="#">{translate:Home}</a>
                </li>
                <li class="main-menu push" id="navMedia" data-dojo-attach-event="onClick:_navigateMedia">
                    <a href="#">{translate:Media Pool}</a>
                </li>
                <li class="main-menu push dropdown" id="navContent">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {translate:Content} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" data-dojo-attach-point="contentDropDown">
                    </ul>
                </li>
                <li class="main-menu dropdown" id="navAdmin" data-wcmf-restrict-roles="administrators">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {translate:Administration} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="push" data-wcmf-route="admin">
                            <a href="#"><i class="fa fa-wrench"></i> {translate:Settings}</a>
                        </li>
                        <li class="push" data-wcmf-route="principalList" data-wcmf-pathparams="type:'${userType}'">
                            <a href="#"><i class="fa fa-user"></i> {translate:Users}</a>
                        </li>
                        <li class="push" data-wcmf-route="permissionList" data-wcmf-pathparams="type:'${permissionType}'">
                            <a href="#"><i class="fa fa-shield"></i> {translate:Permissions}</a>
                        </li>
                        <li class="push" data-wcmf-route="lockList" data-wcmf-pathparams="type:'${lockType}'">
                            <a href="#"><i class="fa fa-lock"></i> {translate:Locks}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{translate:Search}" data-dojo-attach-point="searchField">
                </div>
                <button type="submit" class="btn btn-default" data-dojo-attach-point="searchBtn">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="main-menu dropdown" id="navSettings">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="fa fa-user"></i> <span class="user">${userName}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="push" data-wcmf-route="settings">
                            <a href="#"><i class="fa fa-wrench"></i> {translate:Settings}</a>
                        </li>
                        <li class="push" data-wcmf-route="logout">
                            <a href="#"><i class="fa fa-sign-out"></i> {translate:Logout}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
