<div class="dijit dijitReset dijitInline dijitLeft" id="widget_${id}"
	><button class="dropdown-toggle btn btn-default" data-dojo-attach-point='textbox,focusNode'
			${!nameAttrSetting} type='button'
	/><div data-dojo-attach-point="selectNode" data-dojo-attach-event="onmousedown:_onMouseDown,onclick:focus"
		><select class="${baseClass}Select dojoxCheckedMultiSelectHidden" multiple="true" data-dojo-attach-point="containerNode,focusNode"></select
		><div data-dojo-attach-point="wrapperDiv"></div
	></div
></div>